@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width:10px;
    height:10px;
    background:transparent;
    box-sizing: border-box;
    padding:0px 1px;
}

::-webkit-scrollbar-thumb {
    background:rgba(114, 87, 68, 0.5);
    border-radius:10px;
    border: 2px solid transparent;
    background-clip: content-box;
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(114, 87, 68, 0.7);
    border: 2px solid transparent;
    background-clip: content-box;
}

:root {
    --cfx-box: 150,114,89, 0.25;
    --cfx-input: 150,114,89, 0.25;
    background: rgb(236, 224, 209);
}

:root.dark {
    --cfx-box: 186, 142, 110, 0.2;
    background: rgb(59,49,43);
    color:rgb(236, 224, 209);
}